{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-success">CHI TIẾT SẢN PHẨM</h1>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img class="card-img-top" src="{{ product.image }}" alt="{{ product.name }}">
        </div>
        <div class="col-md-8">
            <h1>{{ product.name }}</h1>
            <p>{{ product.description }}</p>
            <h3 class="text-danger">{{ product.price }} VNĐ</h3>
        </div>
    </div>
</div>

<hr />
{% if current_user.is_authenticated %}
<div class="m-2">
    <form method="post" action="/products/{{product.id}}/comments">
        <textarea class="form-control" rows="3" id="comment" placeholder="Nội dung bình luận..." name="content"></textarea>
        <button type="submit" class="btn btn-success mt-1">Bình luận</button>
    </form>
</div>
{% else %}
<p>Vui lòng <a href="/login?next=/products/{{product.id}}">đăng nhập</a> để thanh toán!</p>
{% endif %}
<hr />

<div>
    {% for c in comments %}
    <div class="row m-1 bg-light p-2">
        <div class="col-md-1 col-xs-6">
            <img src="{{ c.user.avatar }}" class="img-fluid rounded-circle" />
        </div>
        <div class="col-md-11 col-xs-6">
            <p>{{ c.content }}</p>
            <small>Bình luận bởi <a href="#">{{ c.user.username }}</a> vào lúc <span class="created-date text-danger">{{ c.created_date }}</span></a></small>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment-with-locales.min.js"></script>
<script>
    window.onload = function() {
        let dates = document.getElementsByClassName("created-date");
        for (let d of dates)
            d.innerText = moment(d.innerText).locale("vi").fromNow()
    }
</script>
{% endblock %}