{% extends "base.html" %}

{% block content %}
<h1 class="text-center text-primary">ĐĂNG KÝ NGƯỜI DÙNG</h1>
{% if msg %}
<div class="alert alert-danger">
  {{ msg }}
</div>
{% endif %}
<form action="/register" method="post" enctype="multipart/form-data">
  <div class="mb-3 mt-3">
    <label for="name" class="form-label">Họ tên:</label>
    <input type="text" class="form-control" id="name"
           placeholder="Họ tên" name="name">
  </div>
  <div class="mb-3 mt-3">
    <label for="username" class="form-label">Tên đăng nhập:</label>
    <input type="text" class="form-control" id="username"
           placeholder="Tên đăng nhập" name="username">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Mật khẩu:</label>
    <input type="password" class="form-control" id="pwd"
           placeholder="Mật khẩu" name="password">
  </div>
  <div class="mb-3">
    <label for="confirm" class="form-label">Xác nhận mật khẩu:</label>
    <input type="password" class="form-control" id="confirm"
           placeholder="Xác nhận mật khẩu" name="confirm">
  </div>
  <div class="mb-3 mt-3">
    <label for="avatar" class="form-label">Ảnh đại diện:</label>
    <input type="file" class="form-control" id="avatar" name="avatar">
  </div>
  <button type="submit" class="btn btn-primary">Đăng ký</button>
</form>
{% endblock %}