{% extends 'admin/master.html' %}

{% block body %}
<h1 class="text-center text-success">THỐNG KÊ DOANH THU</h1>

<div class="row">
    <div class="col-md-7">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Tên danh mục</th>
                <th>Số lượng sản phẩm</th>
            </tr>
            {% for d in cates %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{% if d[2] %} {{ d[2] }} {% else %}0{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-5">
        <canvas id="myCateChart"></canvas>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Tên sản phẩm</th>
                <th>Doanh thu</th>
            </tr>
            {% for d in data %}
            <tr>
                <td>{{ d[0] }}</td>
                <td>{{ d[1] }}</td>
                <td>{% if d[2] %} {{ d[2] }} {% else %}0{% endif %} VNĐ</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-md-7">
        <canvas id="myChart"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    let data = [], labels = []
    let data2 = [], labels2 = []
    {% for d in data %}
        {% if d[2] %}
        labels.push('{{ d[1] }}')
        data.push({{ d[2] }})
        {% endif %}
    {% endfor %}

     {% for d in cates %}
        {% if d[2] %}
        labels2.push('{{ d[1] }}')
        data2.push({{ d[2] }})
        {% endif %}
    {% endfor %}

    window.onload = function() {
        // Thống kê doanh thu
          const ctx = document.getElementById('myChart');

          new Chart(ctx, {
            type: 'bar',
            data: {
              labels: labels,
              datasets: [{
                label: 'Doanh thu',
                data: data,
                borderWidth: 1,
                backgroundColor: ['red', 'green', 'blue', 'gold', 'brown', 'orange']
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });

        // Thống kê số lượng theo danh mục
        const ctx2 = document.getElementById('myCateChart');

          new Chart(ctx2, {
            type: 'pie',
            data: {
              labels: labels2,
              datasets: [{
                label: 'Số lượng',
                data: data2,
                borderWidth: 1,
                backgroundColor: ['red', 'green', 'blue', 'gold', 'brown', 'orange']
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
    }
</script>
{% endblock %}